<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis.mapper.cluster.CityMapper">

	<resultMap id="BaseResultMap" type="com.mybatis.domain.City">
		<id column="city_id" property="id" jdbcType="INTEGER" />
		<result column="city_name" property="name" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		city_id, city_name, description
	</sql>

	<select id="getCityById" resultMap="BaseResultMap" parameterType="long">
		select
		<include refid="Base_Column_List" />
		from city
		where city_id = #{id,jdbcType=INTEGER}
	</select>

	<select id="getCityList" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from city
	</select>

	<delete id="delete" parameterType="long">
		delete from city
		where city_id
		= #{id,jdbcType=INTEGER}
	</delete>

	<insert id="add" parameterType="com.mybatis.domain.City">
		insert into city (city_id,
		city_name, description)
		values (#{city.id,jdbcType=INTEGER},
		#{city.name,jdbcType=VARCHAR},
		#{city.description,jdbcType=VARCHAR})
	</insert>

	<update id="update" parameterType="com.mybatis.domain.City">
		update city set city_name =
		#{city.name,jdbcType=VARCHAR},
		description = #{city.description,jdbcType=VARCHAR}
		where city_id = #{id,jdbcType=INTEGER}
	</update>

</mapper>